<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Today&apos;s Quote</key>
	<string>The very manifestation of suffering should remind us of its cause, our own negative actions.</string>
	<key>Yesterday&apos;s Quote</key>
	<string>By keeping a peaceful mind in difficult situations we are far more likely to find solutions and respond constructively.</string>
	<key>Sep 6</key>
	<string>A human life has almost limitless potential, but we shall be able to realize this potential only if we first learn to appreciate it.</string>
	<key>Sep 5</key>
	<string>All phenomena naturally appear to our mind to be inherently existent and, without realizing that this appearance is mistaken, we instinctively assent to it and hold phenomena to exist inherently, or truly. This is the fundamental reason we are in samsara.</string>
	<key>Sep 4</key>
	<string>This dependent relationship between actions and their effects, virtuous actions causing happiness and non-virtuous actions causing suffering, is taught by the Buddhas based on their perfect knowledge. We must believe it because conviction in the laws of karma is the root of future happiness.</string>
	<key>Sep 3</key>
	<string>By reciting the dedication prayers sincerely at the end of each meditation session we ensure that the merit we created by meditating is not wasted but acts as a cause for enlightenment.</string>
	<key>Sep 2</key>
	<string>Usually when we are very attached to someone we feel jealous if they leave us on our own and spend time with someone else, but when we die we shall have to leave our friends with others forever.</string>
</dict>
</plist>
